
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto"), local("Roboto-Regular"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}



body {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
}

.body-index {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

img {
  max-width: 100%;
  height: auto;
}

.body-catalog {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

.site-wrapper,
.catalog-wrapper {
  min-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}
/* =======================Slider===================== */

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  display: block;
  width: 678px;
  margin: 0 auto 30px;

  font-weight: 700;
  font-size: 60px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}


.slider-button {
  display: inline-block;
  margin-bottom: 40px;
  padding: 12px 44px;

  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background-image: linear-gradient(#f16743, #e74b36);
  border: none;
  border-radius: 33px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.slider-button:hover,
.deals-button:hover,
.button-feedback:hover,
.button-submit:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.slider-button:active,
.deals-button:active,
.button-feedback:active,
.button-submit:hover {
  background: linear-gradient(#d84632, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}
.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: top center;
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: top center;
}


.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}

.main-header-logo {
  margin-top: 9px;
  margin-left: 27px;
}


.btn-basket-text-full {
  margin-left: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.btn-basket-text {
  display: block;
  box-sizing: border-box;
  margin-left: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.site-navigation {
  position: relative;
}
.site-navigation-current {
  margin: 0;
}



.site-navigation a,
.user-navigation a {
  position: relative;

  justify-content: center;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
}

.site-navigation {
  display: flex;
  width: 423px;
  margin-top: 22px;
  margin-right: 52px;
  padding: 0;

  color: #ffffff;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #000000;

  background-color: #f8f7f4;
}

.site-navigation-list .site-navigation-list-item-first a {
  position: relative;

  padding: 11px 21px 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.site-navigation-submenu .site-navigation-list-item-first a {
  position: relative;

  padding: 11px 21px 12px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}






.site-navigation-list a:hover,
.site-navigation-submenu a:hover {
  background-color: #fbded7;
}

.site-navigation-list a:active,
.site-navigation-submenu a:active {
  background-color: #f6b5a5;
}


.site-navigation-current > a {
  display: inline-block;
  margin: 0 3px 0 9px;
  padding: 7px 12px 8px 14px;

  vertical-align: top;

  background-color: #d07058;
  border-radius: 24px;
}
.site-navigation-sub > a {
  display: inline-block;
  padding: 7px 12px 6px 14px;

  vertical-align: top;

  border: none;
  border-radius: 15px;
}
.site-navigation-submenu > a {
  display: inline-block;
  margin-bottom: 5px;

  vertical-align: top;
}

.site-navigation-submenu {
  position: absolute;
  top: 38px;
  left: -8px;

  display: none;
  /* width: 144px; */
  min-height: 171px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-navigation-list {
  position: absolute;
  top: 38px;
  left: -8px;

  display: none;
  /* width: 144px; */
  min-height: 171px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.site-navigation-list::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -11px;

  width: 150px;
  height: 40px;
}


.site-navigation-sub:hover .site-navigation-list {
  display: block;

  background-color: #f8f7f4;
  border-radius: 5px;
}



.site-navigation-list a,
.site-navigation-submenu a {
  display: block;
  padding: 9px 20px 6px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}


/* .site-navigation-list-item b::after,
.site-navigation-submenu-item b::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;

  width: 90% ;
  height: 1px;

  background-color: #d1d0ce;
} */


.site-navigation-list-item-first b::after {
  content: "";
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 6px;

  width: 90% ;
  height: 1px;

  background-color: rgba(53, 53, 53, 0.2);
}





.site-navigation-submenu-item-current a,
.site-navigation-submenu-item-current a:hover {
  color: #ffffff;

  background-color: #d07058;
}

.site-navigation-current:hover .site-navigation-submenu {
  display: block;
}


.options-wrapper {
  display: block;
  margin-left: -12px;
}

.main-navigation {
  margin-right: 263px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.site-navigation {
  list-style: none;
}

.site-navigation li {
  z-index: 10;

  list-style: none;
  line-height: 18px;
}


.user-navigation-item:not(:last-of-type) {
  margin-right: 8px;
}

.user-navigation-item:last-of-type {
  margin-right: 15px;
}


.user-navigation {
  display: flex;
  align-items: center;
  margin-top: 23px;
  margin-right: 10px;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}



.header-btn-basket-full {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 118px;
  padding: 5px 0;

  vertical-align: top;
  color: #000000;

  background-color: #f7f6f3;
  border-radius: 35px;
}



.user-navigation-links a {
  color: #000000;
}


.page-header-info {
  position: relative;
  top: -5px;

  margin-left: auto;

  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.opening-hours {
  display: block;
  margin-top: 22px;
  margin-right: 25px;
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  margin-right: 28px;

  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}


.popular-offers {
  margin-bottom: 3px;
}

.offers-item {
  position: relative;

  display: inline-block;
  width: 267px;
  margin-bottom: 33px;

  list-style: none;
  vertical-align: top;
  text-align: center;
}


.offers-item:hover .offers-title {
  z-index: 2;
}
.offers-item:hover:before,
.offers-item:hover:after {
  display: block;

  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}





.offers-item:hover .button-wrapper {
  z-index: 15;

  display: block;
}


.offers-preview {
  position: relative;
}



.catalog-list-item-price {
  position: absolute;
  top: 210px;

  display: block;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.price-wrapper {
  position: relative;
  z-index: 1;
}
.price-wrapper-hit {
  position: relative;
}
.offers-item::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  z-index: 1;

  display: none;

  border-radius: 3px;
  opacity: 0.3;
}
.offers-item::after {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -75px;
  left: 10px;
  left: -16px;
  z-index: 10;

  display: none;
  width: 299px;

  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}





.button-wrapper {
  position: absolute;
  right: -6px;
  bottom: -72px;
  left: -6px;
  z-index: 2;

  display: none;
  padding: 20px 0;
}



.price-wrapper-hit::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 300;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
}


.offers-title {
  position: relative;

  display: inline-block;
  min-height: 44px;
  margin: 9px 5px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
  text-align: center;
  text-align: center;
  color: #ffffff;
}

.offers-title a {
  color: white;
  text-decoration: none;

  border-bottom: 1px solid #9db1a5;
}

.offers-list span {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.offers-btn {
  display: inline-block;
  padding: 10px 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px #a0200b;

  background-image: linear-gradient(#f26843, #e74b36);
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 #9e4334;
  cursor: pointer;
}
.offers-btn:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.offers-btn:active {
  background: linear-gradient(#d84732, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}




.deals h3 {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-left: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.deals p {
  margin-top: 4px;
  margin-bottom: 34px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.deals-item-raspberry {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 560px;
  margin: 0;
  margin-right: 26px;
  padding: 14px 20px 24px;

  background-color: #a03472;
  background-image: url(../img/deals-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.deals-item-chocolate {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 560px;
  min-height: 230px;
  margin: 0;
  padding: 14px 20px 24px;

  background-color: #553017;
  background-image: url("../img/deals-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.offers-item img {
  position: relative;

  margin-top: 3px;

  border-radius: 50%;
}

.img-cat {
  position: relative;

  margin-top: 3px;

  border-radius: 50%;
}




.deals-button-rsb {
  display: block;
  align-self: flex-end;
  box-sizing: border-box;
  margin-top: auto;
  margin-right: 1px;
  padding: 9px 24px 12px 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}


.deals-button-choco {
  display: block;
  align-self: flex-end;
  box-sizing: border-box;
  margin-top: auto;
  margin-right: 1px;
  padding: 8px 21px 13px 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}



.item-price {
  display: block;
  margin: 0 0 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.item-weight {
  position: relative;

  display: inline-block;
  margin-left: 27px;

  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  vertical-align: baseline;
  color: #ffffff;
}

.user-navigation-item::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;

  width: 100px;
  height: 40px;
}



.popular-offers a,
.offers a {
  color: #ffffff;
}
.offers-cat {
  position: relative;

  margin-bottom: 60px;
}
.offers-cat::after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 12px;

  display: block;
  width: 96%;
  height: 1px;

  background-color: #9db1a5;
}

.features {
  box-sizing: border-box;
  min-height: 280px;
  margin-right: 27px;
  margin-bottom: 38px;
  margin-left: 27px;
  padding-top: 24px;
  padding-right: 10px;
  padding-bottom: 23px;
  padding-left: 9px;

  color: #333333;

  background: url(../img/waffel.jpg) #eee0c4;
  border-radius: 14px;
}
.features-title {
  margin: 0;
  margin-bottom: 2px;
  padding-left: 11px;
  /* font-weight: 500; */

  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.08px;
}

.features li {
  position: relative;

  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-top: 23px;
  padding-left: 55px;
}


.features-list-left,
.features-list-right {
  margin: 0;
  margin-top: -2px;
  padding: 0;

  list-style: none;
}

.features-wrapper-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 539px;
}
.features-wrapper-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 539px;
}
.features-icecream::before {
  content: url("../img/ice-cream.svg");
  position: absolute;
  top: 9px;
  left: 0;

  display: block;
}
.features-partners::before {
  content: url("../img/cow.svg");
  position: absolute;
  top: 9px;
  left: 0;

  display: block;
}
.features-eco::before {
  content: url("../img/eco.svg");
  position: absolute;
  top: 9px;
  left: 0;

  display: block;
}
.features-thermo::before {
  content: url("../img/thermometer.svg");
  position: absolute;
  top: 9px;
  left: 0;

  display: block;
}


.news a {
  display: block;
  width: 300px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-decoration: underline;
}

.news-distrib {
  display: flex;
  justify-content: space-around;
}

.distrib {
  position: relative;
  right: 20px;
  bottom: 13px;

  box-sizing: border-box;
  width: 531px;
  margin: 0;
  padding: 30px 1px 28px 21px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  background-color: #f8f7f4;
  background-size: cover;
  border-radius: 10px;
}

.news-title {
  margin: 0;
  margin-bottom: 2px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}



.news {
  position: relative;
  left: 5px;

  box-sizing: border-box;
  width: 560px;
  padding: 26px 21px 9px 21px;

  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.subscription-form {
  position: relative;
  right: 6px;

  box-sizing: border-box;
  width: 560px;
  padding: 7px;

  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/subscription-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.btn-subscription-form {
  position: relative;
  top: -5px;

  display: block;
  min-width: 130px;
  padding: 7px 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-subscription-form:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}
.btn-subscription-form:active {
  background: linear-gradient(#d84732, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}


.address {
  position: absolute;
  top: 0;
  right: 27px;
  z-index: 1;

  box-sizing: border-box;
  width: 302px;
  max-height: 307px;
  margin-top: 62px;
  padding: 29px 25px 31px;

  background-color: #fdfefe;
  border-radius: 14px;
}
.contacts-info {
  display: block;
  margin: 0 0 19px;

  font-size: 18px;
  line-height: 24px;
  color: #323232;
}
.adress-map {
  margin: 0;
  padding-right: 104px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.address-details {
  display: block;
  padding: 0 2px 17px 0;

  line-height: 24px;
  color: #323232;
}
.tel-details {
  margin: 0;
  margin-bottom: 26px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.tel {
  display: table;
  margin: 6px 0 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.button-feedback {
  display: block;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border-radius: 24px;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}




.button-submit {
  display: block;
  margin-top: 50px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}



.main-footer ul {
  list-style: none;
  font-weight: 400;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: transparent;
  background-repeat: no-repeat;
  border: 3px solid #dae2de;
  border-radius: 50%;
  opacity: 0.8;
}


.tweet {
  background-image: url("../img/twitter.svg");
}

.insta {
  background-image: url("../img/instagram.svg");
}

.fb {
  background-image: url("../img/fb.svg");
}

.vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}



.social-button:hover {
  border: 3px solid rgba(255,255,255,0.7);
  opacity: 1;
}

.social-button:active {
  box-shadow: inset 0 2px 1px 0 rgba(136,136,136,0.4);
}




.header-btn-search {
  display: flex;
  width: 32px;
  height: 32px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header-btn-search:hover path {
  fill: #000000;
}


.login-link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 97px;
  padding: 5px 5px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border-radius: 15px;
}
.login-link:hover path {
  fill: #000000;
}

.enter-wrap {
  display: block;
  box-sizing: border-box;
  margin-right: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}


.user-navigation-login {
  position: absolute;
  top: 35px;
  right: 19px;
  z-index: 10;

  display: none;
  box-sizing: border-box;
  width: 277px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: #f8f7f4;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}


.user-navigation-input {
  box-sizing: border-box;
  width: 238px;
  height: 48px;
  margin-right: 9px;
  margin-bottom: 15px;
  margin-left: 1px;
  padding-left: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a7a7a7;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-navigation-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
}
.user-navigation-links a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}
.entry-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button-enter {
  display: inline-block;
  width: 101px;
  padding: 10px 15px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  background: #f26843;
  background-image: linear-gradient(#f16743, #e74b36);
  border: none;
  border-radius: 33px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button-enter:hover {
  color: #ffffff;

  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button-enter:active {
  color: #ffffff;

  background: linear-gradient(#d84732, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}

.user-navigation-item:hover .user-navigation-login {
  top: 37px;

  display: block;
}

.site-navigation a::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -20px;

  width: 100px;
  height: 40px;
}

.basket {
  fill: #ffffff;
}
.header-btn-basket:hover .basket {
  fill: #000000;
}

.header-btn-basket {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100px;
  padding: 5px 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.header-btn-basket:hover path {
  width: 40px;

  fill: #000000;
}


.footer-links-list a {
  font-weight: 400;
  color: #ffffff;
}

.footer-link-information:hover,
.footer-link-information:active {
  color: #ffbc9e;
}

.offers-title a:hover,
.offers-title a:active {
  color: #ffbc9e;
}

.footer-information-list a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid #9db1a5;
}

.footer-copyright {
  display: block;
  width: 194px;
  margin-top: -2px;
  margin-right: -4px;

  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.copyright {
  margin-top: 4px;
  margin-left: -25px;
}
.for-suppliers::before {
  content: url("../img/heart.svg");
  position: absolute;
  top: 5px;
  left: -20px;

  width: 15px;
  height: 13px;
}
.left-column {
  position: relative;
}
.right-column {
  margin-left: 31px;
}

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.3);
}



.modal-feedback-container {
  top: 120px;
  left: 50%;

  display: block;
}

.modal-feedback {
  position: absolute;
  top: 5%;
  left: 50%;

  display: flex;
  flex-direction: column;
  width: 427px;
  margin-left: -250px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-left: 25px;

  background-color: #f8f7f4;
  border-radius: 5px;
}
.form-title {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}


.feedback-input {
  box-sizing: border-box;
  width: 267px;
  height: 42px;
  margin-bottom: 17px;
  padding: 0 10px 0;
  padding: 0 10px;

  background-color: #ffffff;
  border-width: 0;
  border-radius: 5px;
  outline: 0;
  box-shadow: inset 0 0 0 1px #d3d3d2;
}
.feedback-input:focus {
  border-width: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #8fbdec;
}
.feedback-input:hover {
  border-width: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #d3d3d2;
}
.feedback-input-textarea {
  box-sizing: border-box;
  width: 427px;
  height: 154px;
  margin-bottom: 20px;
  padding: 16px 11px;

  vertical-align: text-top;

  border-width: 0;
  border-radius: 5px;
  outline: 0;
  box-shadow: inset 0 0 0 1px #d3d3d2;

  resize: none;
}

.feedback-input-textarea:hover {
  border-width: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #d3d3d2;
}

.feedback-input-textarea:focus {
  border-width: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #8fbdec;
}

.button-submit {
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: auto;
  padding: 9px 21px 9px 21px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border: 0;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}



.modal-feedback-close {
  position: absolute;
  top: 4px;
  right: 8px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-feedback-close::before,
.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 1px;

  width: 19px;
  height: 3px;

  background-color: #000000;
  cursor: pointer;
}
.modal-feedback-close:before {
  transform: rotate(45deg);
}

.modal-feedback-close:after {
  transform: rotate(-45deg);
}


@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.modal-show {
  display: block;

  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: -24px;
  margin-left: 27px;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a {
  color: #ffffff;
}


.breadcrumbs li:not(:last-child)::after {
  content: "»";

  display: inline-block;
  padding: 0 6px 0 4px;
}


.navigation-link:hover,
.navigation-link:active {
  color: #ffbc9e;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: auto;

  list-style: none;
}

.pagination a {
  color: #ffffff;
  text-decoration: none;
}

.pagination-item-disabled a {
  color: #97aca0;
}

.pagination-item {
  margin-right: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.pagination-item a:hover {
  background-color: #9db1a5;
  border-radius: 50%;
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  /* padding: 5px 10px 5px; */

  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-wrapper {
  margin-top: 45px;
  margin-right: 19px;
}


/* корзина */


.basket-container {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 100;
  display: none;

  box-sizing: border-box;
  width: 540px;
  padding: 12px 14px 22px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.basket-table {
  width: 100%;
  margin-top: 7px;

  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}
.basket-pic img {
  border-radius: 50%;
}
.basket-delete {
  display: block;
  width: 12px;
  height: 12px;
  /*padding: 10px 4px 0 1px;*/
  padding: 0;
  border-spacing: 0;
  margin-right: 14px;
}


.basket-delete button {
  padding: 0;

  background-color: transparent;
  border: none;
}


.basket-delete::before {
  content: url("../img/cross-small.svg");

  display: inline-block;
  /*padding-top: 8px;*/
  /*padding-left: 0;*/
  padding: 0;
  width: 12px;
  height: 12px;
}

.basket-product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 21px;
}

.basket-pic {
  /*padding: 0 8px 16px 0;*/
  padding: 0;
  width: 33px;
  height: 33px;
  margin-right: 12px;
}

.basket-name {
  /*display: block;*/
  width: 232px;
  /*padding: 8px 10px 7px 2px;*/
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: start;
  margin-right: 15px;
  min-height: 33px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.basket-price span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #999999;
}

.basket-price {
  /*padding: 8px 10px 7px 2px;*/
  padding: 0;
  margin-right: 26px;
}

.basket-value {
  display: block;
  /*padding-left: 13px;*/
  margin-right: 10px;
  padding: 0;
  font-weight: 400;
}

.basket-cost {
  padding: 17px 0 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  border-top: 1px solid #cacac7;
}


.complete-btn {
  display: table;
  margin-top: -3px;
  margin-bottom: 1px;
  margin-left: auto;
  padding: 8px 15px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient(#f26843, #e74b36);
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 1px 2px #ac1000;
  cursor: pointer;
}


.complete-btn:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.basket-container a:hover {
  color: #ffffff;
}

.complete-btn:active {
  color: #ffffff;

  background: linear-gradient(#d84732, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}

.user-navigation-item:hover .basket-container {
  top: 37px;
  z-index: 300;

  display: block;;
}
.filters {
  margin-bottom: 36px;
  margin-left: 27px;
}

.filters h1 {
  margin: 0;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}


fieldset:nth-child(1),
fieldset:nth-child(2),
fieldset:nth-child(3),
fieldset:nth-child(4) {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border: none;
}

.filter-lbl {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter option {
  font-size: 14px;
  line-height: 16px;
}

.filter-btn {
  width: 145px;
  height: 36px;
  margin-top: 21px;
  margin-left: 8px;
  padding: 2px 27px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #a6b7ad;
  border: 2px solid #ffffff;
  border-radius: 60px;
}



.filter-btn:hover {
  color: #000000;

  background-color: #fbfcfb;
}

.filter-btn:active {
  background-color: #eaeaea;
}

.button-left {
  width: 40px;

  background-color: #eaeaea;
  border-radius: 50%;
}

/* -----------сеточные стили----------------- */

.main-header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}


.user-navigation-item {
  display: flex;
}

.deals {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.hits-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 15px;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 15px;
}


.blog-news-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 43px;
}

.main-footer {
  position: relative;
  bottom: 15px;

  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.map {
  position: relative;

  width: 100%;
  height: 100%;
  margin-bottom: 26px;
}
.map-wrapper {
  position: relative;

  width: 1200px;
  height: 430px;
  margin: 0;

  background-image: url("../img/map-pin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 430px;
}


.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}

.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 860px;
}
.top-column {
  display: flex;
  margin-bottom: 14px;
}

.low-column {
  display: flex;
}
.sort {
  height: max-content;
  margin-right: 15px;
  padding: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin: 0;
  margin-left: 27px;
  padding: 0;
}

.footer-social {
  margin-top: 23px;
}
.social-item {
  margin-right: 11px;
}

.footer-information-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 324px;
  margin: 0;
  padding: 0;
}

.useful-documents {
  display: flex;
  margin-top: 17px;
  margin-left: -7px;
}


.for-suppliers {
  font-weight: 700;
}

.copyright a {
  color: #ffffff;
}
.img-logo {
  display: inline-block;
  margin-top: 7px;
  margin-left: -24px;

  vertical-align: top;
}
.offers-list:nth-child(4n) {
  margin-right: 0;
}


.sort-filter,
.price-value,
.fat,
.topping {
  margin: 0;
  margin-bottom: 5px;
  margin-left: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}



.price {
  width: 220px;
  height: 52px;
  margin: 0;
  margin-right: 15px;
  padding: 0;

  color: #ffffff;
}


.price-controls {
  position: relative;

  width: 220px;
  height: 36px;
  margin: 0;

  font-size: 0;

  background-color: #9db1a5;
  border-radius: 20px;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 16px;
  vertical-align: top;

  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}
.filter-toggle {
  position: relative;

  margin-top: -20px;
  margin-left: 22px;
}

.filter-toggle .range-scale {
  position: relative;
  z-index: 1;

  width: 176px;
  height: 4px;

  background: #d1dad3;
  opacity: 0.5;
}
.filter-toggle .selected-range {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 2;

  width: 85px;
  height: 4px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  z-index: 3;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 13px;
}
.range-toggle-max {
  left: 111px;
}
.range-toggle:hover {
  top: -9px;

  width: 4px;
  height: 4px;

  background: #849d8f;
  border-width: 9px;
}

.select-container {
  position: relative;

  width: 191px;
  height: 36px;
  margin: 0;

  background-color: #9db1a5;
  border-radius: 20px;
}


.fat-filter {
  display: flex;
  margin: 0;
  padding: 0;
}


.topping-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
  height: 37px;

  font-weight: 500;
  line-height: 36px;
  font-family: inherit;
  color: #ffffff;

  background-color: #9db1a5;
  border-radius: 20px;
}


.item-weight::before {
  content: "";
  position: absolute;
  top: 0;
  left: -33px;

  display: block;
  width: 31px;
  height: 36px;

  background-image: url(../img/ruble.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31px 36px;
}



.topping-wrapper label {
  position: relative;
  bottom: 3px;

  display: inline-block;
  padding-right: 12px;
  padding-left: 29px;

  vertical-align: top;
}


.toggle + .filter-lbl::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 22px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: 24px 22px;
  cursor: pointer;
  opacity: 0.8;
}
.toggle + .filter-lbl:hover::before {
  opacity: 1;
}
.toggle:checked + .filter-lbl::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 24px 22px;
}

.toggle:disabled + .filter-lbl,
.fat-select:disabled + .filter-fat {
  opacity: 0.4;
}

.fat-filter-wrapper {
  position: relative;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 412px;
  height: 39px;

  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #ffffff;

  background-color: #9db1a5;
  border-radius: 20px;
}


.filter-fat {
  position: relative;

  padding-left: 37px;
}
.topping-filter {
  width: 703px;
  padding: 0;
}

.fat-select + .filter-fat::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  left: 1px;

  width: 24px;
  height: 24px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  opacity: 0.8;
}

.fat-select + .filter-fat:hover::before {
  opacity: 1;
}


.toggle:disabled + .filter-lbl:hover::before {
  opacity: 1;
}
.fat-select:disabled + .filter-fat:hover::before {
  opacity: 1;
}




.fat-select:checked + .filter-fat::before {
  background-image: url("../img/radio-on.svg");
  background-size: 24px 24px;
}

.category-filters {
  box-sizing: border-box;
  min-width: 193px;
  min-height: 36px;
  padding: 0 16px;

  font-weight: 500;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/icon-down-dir-white.svg");
  background-repeat: no-repeat;
  background-position: 161px center;
  background-size: 20px 11px;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

.category-filters:hover {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-down-dir.svg");
}

.user-navigation-input-search {
  width: 310px;
  height: 44px;
  padding: 20px 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a7a7a7;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-navigation-item {
  position: relative;
}
.modal-search {
  position: absolute;
  top: 15px;
  right: 4px;
  z-index: 6;

  display: none;
  width: 310px;
  padding: 20px 16px;

  color: #000000;

  background-color: #f8f7f4;
  border-radius: 6px;
  border-radius: 6px;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.header-btn-search::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 100%;
  height: 5px;
}

.user-navigation-item:hover .modal-search {
  top: 15px;
  z-index: 300;

  display: block;
}




.subscription-form input[type="email"] {
  position: relative;
  bottom: 5px;
  left: 2px;

  box-sizing: border-box;
  width: 100%;
  height: 44px;
  margin-right: 15px;
  padding: 4px 10px;

  background-color: #ffffff;
  border-width: 0;
  border-radius: 5px;
  outline: 0;
  box-shadow: inset 0 0 0 1px rgba(178,178,178,0.52);;
}

.subscription-wrapper {
  min-height: 185px;
  padding: 10px 18px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-size: cover;
  border-radius: 10px;
}

.features-container {
  display: flex;
  justify-content: space-around;
}
