@font-face {
  font-family: "Roboto";

  src: url("/fonts/roboto.woff") format("woff"), url("/fonts/robotobold.woff") format("woff"), url("/fonts/robotomedium.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: none;

  background-color: #849d8f;
}

.body-index {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

img {
  max-width: 100%;
  height: auto;
}

.body-catalog {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

.site-wrapper,
.catalog-wrapper {
  min-width: 1200px;
  margin: 0 auto;
}
.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  /* margin: -1px; */

  clip: rect(0 0 0 0);
}
/* =======================Slider===================== */

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}


.slider-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 700;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background-image: linear-gradient(#f16743, #e74b36);
  border: none;
  border-radius: 33px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.slider-button:hover,
.deals-button:hover,
.button-feedback:hover,
.button-submit:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.slider-button:active,
.deals-button:active,
.button-feedback:active,
.button-submit:hover {
  background: linear-gradient(#d84632, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}
.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}


.site-wrapper::before {
  background-image: url("../img/slider-2.png");
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::after {
  background-image: url("../img/slider-3.png");
}











.site-navigation a,
.user-navigation a {
  position: relative;

  display: block;

  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #000000;

  background-color: #f8f7f4;
}

.site-navigation-list a:hover {
  background-color: #fbded7;
}

.site-navigation-list a:active {
  background-color: #f6b5a5;
}

.site-navigation-current > a {
  display: inline-block;
  padding: 9px 14px;

  background-color: #d07058;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 15px;
}

.site-navigation-submenu a:hover {
  background-color: #fbded7;
}



.site-navigation-submenu a:active {
  background-color: #f6b5a5;
}

.btn-basket-text-full {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.header-btn-basket-full::before {
  content: url("../img/basket-red.svg");
}

.site-navigation-list {
  display: none;
}

.site-navigation-submenu {
  position: absolute;
  top: 100%;

  display: none;
  padding: 5px;
}

.site-navigation {
  position: relative;
}
.site-navigation-sub > a {
  display: inline-block;
  padding: 9px 14px;

  border: none;
  border-radius: 15px;
}

.site-navigation-list {
  position: absolute;
  top: 100%;

  padding: 5px;
}

.site-navigation-sub:hover .site-navigation-list {
  display: block;

  background-color: #f8f7f4;
}

.site-navigation-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  ;
}

.site-navigation-current:hover .site-navigation-submenu {
  display: block;

  background-color: #f8f7f4;
}

.main-navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.site-navigation {
  list-style: none;
}

.site-navigation li {
  margin-top: 30px;
  margin-right: 26px;

  list-style: none;
  line-height: 18px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.options-wrapper {
  margin-top: 30px;
}

.user-navigation {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

/* /////// */
.user-navigation-item:not(:last-of-type) {
  margin-right: 10px;
}

.login-link {
  display: inline-block;
  width: 100px;
  padding: 10px 20px;

  background-color: #9db1a5;
  border-radius: 15px;
}
.login-link::before {
  content: url("../img/entrance-white.svg");
  position: absolute;
  top: 8px;
  left: 30px;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  content: url("../img/entrance-dark.svg");
}


.header-btn-search {
  width: 33px;
  height: 33px;
  margin-left: 5px;

  background-color: #9db1a5;
  border-radius: 50%;
}


.user-navigation-input {
  display: none;
}
.header-btn-search::before {
  content: url("../img/loupe.svg");

  width: 35px;
  height: 35px;
}



.header-btn-basket {
  display: inline-block;
  width: 100px;
  padding: 5px 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: #9db1a5;
  border-radius: 15px;
}
.header-btn-basket::before {
  content: url("../img/basket.svg");
}

.header-btn-basket-full {
  display: inline-block;
  padding: 5px 16px;

  vertical-align: top;
  color: #000000;

  background-color: #f7f6f3;
  border-radius: 35px;
}

.user-navigation-login {
  display: none;

  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.user-navigation-login input,
fieldset {
  border: none;
}

.user-navigation-links a {
  color: #000000;
}





.page-header-info {
  margin-left: auto;

  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.opening-hours {
  margin-top: 30px;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.phone-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation-submenu a {
  font-weight: 400;
  color: #000000;
}

.button-enter {
  display: inline-block;
  width: 101px;
  padding: 10px 15px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  background-color: #f16642;
  border: none;
  border-radius: 70px;
}

.offers-item {
  position: relative;

  width: 267px;
}

.offers-item:hover .catalog-preview {
  z-index: 2;
}
.offers-item:hover .offers-title {
  z-index: 2;
}
.offers-item:hover:before,
.offers-item:hover:after {
  display: block;
}
.catalog-item:hover .offers-btn {
  z-index: 2;

  display: block;
}
.catalog-preview {
  position: relative;

  text-align: left;
}

.offers-item::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  z-index: 1;

  display: none;

  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.offers-item::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -82px;
  left: -6px;
  z-index: 1;

  display: none;

  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}
/* z-index: 380;

  min-width: 296px;
  min-height: 405px;

  background-color: #9bafa3;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  opacity: 0.9; */










.offers-item {
  list-style: none;
}
.offers-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 61px;
  height: 61px;

  background-image: url(../img/hit.svg);
}


.offers-title {
  display: block;
  margin-top: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.offers-title a {
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.offers-list span {
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
}
/* .button-box {
  position: absolute;
  right: -6px;
  bottom: -82px;
  left: -6px;
  z-index: 2;

  display: none;
  padding: 20px 0;

  background-color: rgba(255, 255, 255, 0.3);
} */


/* ??????????????????????????????? */
.offers-btn {
  display: inline-block;
  padding: 14px 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px #a0200b;

  background-image: linear-gradient(#f26843, #e74b36);
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 #9e4334;
  cursor: pointer;;
}
.offers-btn:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.offers-btn:active {
  background: linear-gradient(#d84732, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}




.deals h3 {
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 20px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.deals p {
  margin: 0;
  margin-bottom: 67px;
  margin-left: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.deals-item-raspberry {
  display: flex;
  flex-direction: column;
  min-width: 560px;
  min-height: 230px;
  margin-right: 13px;

  background-color: #a03472;
  background-image: url("../img/deals-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.deals-item-chocolate {
  display: flex;
  flex-direction: column;
  min-width: 560px;
  min-width: 560px;
  min-height: 230px;
  margin-left: 13px;

  background-color: #553017;
  background-image: url("../img/deals-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.deals-button {
  display: block;
  margin-left: auto;
  padding: 9px 24px 12px 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}


.offers-item img {
  border-radius: 50%;
}

.item-price {
  display: inline;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.item-weight {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.popular-offers a,
.offers a {
  color: #ffffff;
}

.features {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 25px 20px;

  color: #333333;

  background-color: #eee4ca;
  background-image: url("../img/waffel.jpg");
  border-radius: 14px;
}
.features-title {
  margin: 0 auto;
  margin-left: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features li {
  position: relative;

  min-width: 540px;
}
.features-list-left,
.features-list-right {
  padding: 0;

  list-style: none;
}

.features-wrapper-left {
  display: flex;
  flex-wrap: wrap;
  max-width: 539px;
}
.features-wrapper-right {
  display: flex;
  flex-wrap: wrap;
  max-width: 539px;
}
.features-icecream::before {
  content: url("../img/ice-cream.svg");
}
.features-partners::before {
  content: url("../img/cow.svg");
}
.features-eco::before {
  content: url("../img/eco.svg");
}
.features-thermo::before {
  content: url("../img/thermometer.svg");
}


.news a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-decoration: underline;
}

.distrib {
  padding: 10px 18px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;

  background-color: #f8f7f4;
  background-size: cover;
  border-radius: 10px;
}

.news-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news {
  min-width: 560px;
  margin-right: 13px;

  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/blog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.subscription-form {
  min-width: 560px;
  margin-left: 13px;
  padding: 20px;

  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/subscription-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.subscription-wrapper {
  background-color: #f8f7f4;
}
.btn-subscription-form {
  display: block;
  min-width: 130px;
  margin-left: auto;
  padding: 13px 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn-subscription-form:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px 0 #ac1000;
}
.btn-subscription-form:active {
  background: linear-gradient(#d84732, #e1613e);
  box-shadow: inset 0 2px 2px 0 #ac1000;
}

.address {
  display: none;
  width: 304px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;

  background-color: #fffffe;
  border-radius: 15px;
}

.address-details:nth-child(2),
.address-details:nth-child(3),
.address-details:nth-child(5) {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.button-feedback {
  display: block;
  padding: 12px 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}
.button-submit {
  display: block;
  margin-top: 50px;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  background-image: linear-gradient(#f16743, #e74b36);
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}



.main-footer ul {
  list-style: none;
  font-weight: 400;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: transparent;
  border: 3px solid #dae2de;
  border-radius: 50%;
  opacity: 0.8;
}



.social-button:hover {
  background-color: #ffffff;
}
.social-button:focus {
  background-color: #e9e9e9;
}


.social-button:hover path {
  background-color: transparent;

  fill: #ffffff;
}



.footer-links-list a {
  font-weight: 400;
  color: #ffffff;
}

.footer-link-information:hover,
.footer-link-information:active {
  color: #ffbc9e;
}

.offers-title a:hover,
.offers-title a:active {
  color: #ffbc9e;
}

.footer-information-list a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.for-suppliers::before {
  content: url("../img/heart.svg");
  top: 3px;
  left: -20px;

  width: 15px;
  height: 13px;
}

.modal-feedback {
  display: none;
  width: 498px;

  color: #000000;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.feedback-input {
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 10px;
}



/* стилизую каталог */

.basket-container {
  display: none;
}

.breadcrumbs {
  display: flex;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a {
  padding: 22px;

  color: #ffffff;
}

.navigation-link:hover,
.navigation-link:active {
  color: #ffbc9e;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  list-style: none;
}

.pagination a {
  color: #ffffff;
  text-decoration: none;
}

.pagination-item-disabled a {
  color: #97aca0;
}

.pagination-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item a {
  padding: 5px 10px 5px;
}

.pagination-item a:hover {
  padding: 5px 10px 5px;

  background-color: #9db1a5;
  border-radius: 50%;
}

.pagination-item-current a {
  width: 30px;
  padding: 5px 10px 5px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

.basket-item {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.basket-item:last-child {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.complete-btn {
  width: 171px;
  margin-top: 50px;
  padding: 10px;

  font-size: 18px;
  color: #ffffff;
  text-decoration: none;

  background-color: #e84d36;
  border-radius: 70px;
}

.basket-list {
  width: 544px;

  border-collapse: collapse;
  color: #000000;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.basket-item-price {
  color: #999999;
  ;
}

.filters h1 {
  font-size: 35px;
  line-height: 41px;
}

.filters {
  width: 863px;
}

fieldset:nth-child(1),
fieldset:nth-child(2),
fieldset:nth-child(3),
fieldset:nth-child(4) {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.topping-filter label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.filter option {
  font-size: 14px;
  line-height: 16px;
}

.filter-btn {
  width: 150px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #a6b7ad;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.filter-btn:hover {
  color: #000000;

  background-color: #fbfcfb;
}

.filter-btn:active {
  background-color: #eaeaea;
}

.button-left {
  width: 40px;

  background-color: #eaeaea;
  border-radius: 50%;
}

/* -----------сеточные стили----------------- */

.main-header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;

  outline: 1px solid red;
}

.site-navigation {
  display: flex;
  margin: 0;
  margin-right: 70px;
  padding: 0;

  outline: 1px solid green;
}

.user-navigation {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;

  outline: 1px solid greenyellow;
}

.deals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  outline: 1px solid #ff4500;
}

.hits-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  outline: 1px solid #0000ff;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 38px;
  padding: 0;

  outline: 1px solid #0000ff;
}




.blog-news-wrapper {
  display: flex;
  margin: 42px auto;

  outline: 1px solid #a03472;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;

  outline: 1px solid greenyellow;
}

.map {
  width: 100%;
  height: 100%;

  outline: 1px solid #ffe4c4;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 188px;
  margin: 0;
  padding: 0;
}

.social-item {
  margin-right: 11px;
}

.footer-information-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 331px;
  margin: 0;
  padding: 0;
}

.doc-item {
  margin-right: 25px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.for-suppliers {
  font-weight: 700;
}

.copyright a {
  color: #ffffff;
}

.catalog-list-item-price {
  position: absolute;
  top: 210px;

  display: block;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.price-wrapper {
  position: relative;
}
